.register {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* form & input */
@media (min-width: 825px) {
    form {
        width: 561px;
    }
}

.form-register {
    background: rgba(255, 255, 255, 0.3);
    padding: 3rem;
    height: max-content;
    border-radius: 20px;
    display: grid;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.form-register main {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    row-gap: 0;
}

.form-title {
    color: #fff;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.form-register a {
    text-decoration: none;
}

.form-register a:hover {
    text-shadow: 2px 2px 6px #00000040;
}

.form-register a:active {
    text-shadow: none;
}

.form-register main input {
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5000px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #fff;
    direction: rtl;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.form-register main input:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

.form-register main input[type="email"]:focus,
.form-register main input[type="password"]:focus {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

::-moz-placeholder {
    direction: rtl;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

:-ms-input-placeholder {
    direction: rtl;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

::placeholder {
    direction: rtl;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

a,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* form & input */
/* selectBox */
select {
    cursor: pointer;
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    border-left: 16px solid transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5000px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #fff;
    direction: rtl;
    transition: all 0.2s ease-in-out;
    position: relative;
    background: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    overflow: auto;
    width: 100%;
}

option {
    background-color: #3f5efb;
}

/* selectBox */
/* form-check-input */

.form-check-label {
    color: white;
}

.form-check-input {
    position: relative;
    top: 4px;
    width: 17px;
    height: 17px;
    border-radius: 5px;
}

/* drop */

.drop {
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    position: absolute;
    transition: all 0.2s ease;
}

.drop-1 {
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: -1;
}

.drop-2 {
    height: 80px;
    width: 80px;
    bottom: -30px;
    right: 89px;
}

.drop-3 {
    height: 100px;
    width: 100px;
    bottom: 120px;
    right: -67px;
    z-index: -1;
}

.drop-4 {
    height: 80px;
    width: 80px;
    top: -30px;
    right: -42px;
}

.drop-5 {
    height: 60px;
    width: 60px;
    bottom: 170px;
    left: -30px;
    z-index: -1;
}

/* drop */

/* button */

.form-btn {
    width: 120px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.3);
    padding: 0.5rem;
    outline: none;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 2rem;
    transition: all ease-in-out 0.3s;
}

.form-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

button:active {
    background: rgba(255, 255, 255, 0.2);
}

/* button */

@media (max-width: 767px) {
    form {
        width: 400px !important;
        height: 600px;
        margin-bottom: 3rem;
    }

    form main {
        grid-template-columns: auto;
        justify-content: center;
    }

    body {
        height: 100%;
    }

    .drop-2 {
        display: none !important;
    }

    form main {
        display: flex !important;
        flex-direction: column;
    }

    form main input {
        width: 91% !important;
    }

    button {
        margin-left: auto;
        margin-right: auto;
    }

    .drop-4 {
        right: -14px;
    }

    .drop-3 {
        bottom: 46px;
        right: -20px;
    }

    .drop-1 {
        left: -6px;
    }
}

@media (max-width: 824px) {
    form {
        width: 500px;
    }
}

@media (max-width: 560px) {
    form {
        padding: 3em 1rem 11rem;
        width: 89% !important;
    }

    .drop-4 {
        width: 84px;
        height: 84px;
        right: 25px;
        top: -64px;
    }

    .drop-3 {
        right: 14px;
        bottom: -18px;
        width: 50px;
        height: 50px;
    }

    .drop-5 {
        bottom: 87px;
    }

    .drop-1 {
        width: 40px;
        height: 40px;
    }

    .drop-5 {
        bottom: 54px;
        left: -7px;
        opacity: 0.4;
    }
}

.swal-footer {
    text-align: center;
}